*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background: linear-gradient( rgb(233, 232, 232), white);
}

.barraMenu{
    width: 100%;
    height: 12vh;
    /* background-color: aquamarine; */
    padding-top: 1.8vh;
    display: flex;
}

.textPort{
    width: 12%;
    height: 8vh;
    /* background-color: blue; */
    margin-left: 4%;
}

.textIni{
    width: 12%;
    height: 8vh;
    /* background-color: rgb(7, 73, 34); */
    margin-left: 42%;
}

.textProj{
    width: 12%;
    height: 8vh;
    /* background-color: rgb(252, 11, 240); */
    margin-left: 1%;
}

.textCont{
    width: 12%;
    height: 8vh;
    /* background-color: rgb(255, 30, 0); */
    margin-left: 1%;
    margin-right: 4%;
}

a{
    text-decoration: none;
    color: black;
}

.textoMenu{
    padding-top: 1.5vh;
    font-size: 4vh;
    padding-left: 23%;
}

.textoMenu2{
    padding-top: 1.5vh;
    font-size: 4vh;
    padding-left: 32%;
}

.textoMenu3{
    padding-top: 1.5vh;
    font-size: 4vh;
    padding-left: 27%;
}

.textoMenu4{
    padding-top: 1.5vh;
    font-size: 4vh;
    padding-left: 27%;
}


.conteinerPrincipal{
    width: 100%;
    height: 88vh;
    background-color: antiquewhite;
    padding-top: 12vh;
    display: flex;
}

.conteinerContato{
    width: 50%;
    height: 85%;
    background-color: blue;
    margin-left: 25%;
}

.nomeContato{
    width: 100%;
    height: 20vh;
    background-color: aqua;
}

.contatos{
    width: 100%;
    height: 10vh;
    background-color: rgb(190, 114, 20);
    margin-bottom: 1%;
}